{{<template/main}}

{{$title}}kcal - Home{{/title}}

{{$content}}

  <h1>Meeting Rooms Dashboards</h1>
  <ul>
      <li><a href="{{allRoomsUrl}}">All Meeting Rooms</a></li>
      <li><a href="{{belfastRoomsUrl}}">Belfast Meeting Rooms</a></li>
      <li><a href="{{londonRoomsUrl}}">London Meeting Rooms</a></li>
      <li><a href="{{gdanskRoomsUrl}}">Gdansk Meeting Rooms</a></li>
      <li><a href="{{derryRoomsUrl}}">Derry Meeting Rooms</a></li>
      <li><a href="{{bristolRoomsUrl}}">Bristol Meeting Rooms</a></li>
  </ul>

{{/content}}

{{/template/main}}
