{{<template/main}}

{{$title}}kcal - Home{{/title}}

{{$content}}

  <h1>Meeting Rooms Dashboards</h1>
  <ul>
      <li><a href="{{allRoomsUrl}}">All Meeting Rooms</a></li>
      {{#urls}}
          <li><a href="{{url}}">{{name}}</a></li>
      {{/urls}}
  </ul>

{{/content}}

{{/template/main}}
