{{<template/main}}

{{$title}}kcal - Home{{/title}}

{{$content}}

  <h1>Meeting Rooms Dashboards</h1>
  <ul>
      <li><a href="{{allRoomsUrl}}">All Meeting Rooms</a></li>
      <li><a href="{{allRoomsUrl}}">Belfast Meeting Rooms</a></li>
  </ul>

{{/content}}

{{/template/main}}
