{{<template/main}}

{{$title}}kcal - List of rooms{{/title}}

{{$content}}

  <h1>All Rooms</h1>
  {{#rooms}}
    <p><a href="{{url}}">{{email}}</a></p>
  {{/rooms}}

{{/content}}

{{/template/main}}
