{{<template/main}}

{{$title}}kcal - List of {{title}} rooms{{/title}}

{{$content}}

  <h1>{{title}}</h1>
  <ul class="room-list">
  {{#rooms}}
    <li class="room-list-item">
      <span class="name">
        <a href="{{url}}">{{room.shortDisplayName}}</a>
      </span>

      <span class="current-event">
      {{#status.currentEvent}}
        {{#status.available}}
          Next {{subject}} at {{startTimeString}}
        {{/status.available}}
        {{^status.available}}
          {{subject}} until {{endTimeString}}
        {{/status.available}}
      {{/status.currentEvent}}
      </span>

      <span class="status{{^status.available}}-busy{{/status.available}}">
        <span class="state">
          {{#status.available}}Free{{/status.available}}
          {{^status.available}}Busy{{/status.available}}
        </span>
        {{#status.currentEvent}}
        <span class="event-end">
            {{status.durationMessage}}
        </span>
        {{/status.currentEvent}}
      </span>
    </li>
  {{/rooms}}
  </ul>

{{/content}}

{{/template/main}}
