{{<template/main}}

{{$title}}kcal - List of rooms{{/title}}

{{$content}}

  <h1>All Rooms</h1>
  <ul>
  {{#rooms}}
    <li>
      <span><a href="{{url}}">{{room.displayName}}</a></span>
      {{#status.currentEvent}}
      <span>
          <ul>
              <li>{{subject}}</li>
              <li>{{endTimeString}}</li>
          </ul>
      </span>
      {{/status.currentEvent}}
      <span class="{{#status.available}}busy{{/status.available}}">
        {{status.durationMessage}}
      </span>
    </li>
  {{/rooms}}
  </ul>

{{/content}}

{{/template/main}}
