{{<template/main}}

{{$title}}kcal - Room Dashboard{{/title}}

{{$content}}
  <p>The room dashboard</p>
  <p>Room ID - {{room.email}}</p>
  <p>Display Name - {{room.displayName}}</p>
  <p>Alias - {{room.alias}}</p>

{{/content}}

{{/template/main}}
