<html>
  <head>
    <title>{{$title}}kcal - room booking dashboard{{/title}}</title>
    {{$stylesheets}}
    <link href="/assets/stylesheets/reset.css" rel="stylesheet">
    <link href="/assets/stylesheets/main.css" rel="stylesheet">
    {{/stylesheets}}
  </head>
  <body>
    {{$content}}No content{{/content}}
  </body>
</html>
