html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #ECF0F1;
  background: #000;
  font-size: 17px;
}

h1 {
  font-size: 2em;
  background: #2C3E50;
  padding: 0.5em;
  margin-bottom:0.1em;
}

a {
  color: #ECF0F1;
  text-decoration: none;
}

.k-logo {
  float: right;
  height: 1em;
}

.room-groups-list {
  padding: 1em;
}

.room-groups-list li {
  background: #000;
  margin: 0.5em 0;
  padding: 1em;
}

.room-list {
}

.room-list.few-rooms li {
  width: 99%;
  font-size: 1.5em;
}

.room-list li {
  margin-bottom:0.2em;
  width: 49.5%;
  margin-left: 0.25%;
  margin-right: 0.25%;
  height: 4em;
  background: #2A2A2A;
  position: relative;
  display: inline-block;
  float: left;
}

.room-list .name {
  display: block;
  font-size: 1.2em;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 70%;
}
.room-list li:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 30%;
  z-index: 1;
  width: 3em;
  height: 4em;
  background: linear-gradient(to right, rgba(42, 42, 42, 0), rgba(42, 42, 42, 1) 50%);
}

.room-list .current-event {
  color: #7F8C8D;
  /*color: #006435;*/
  display: block;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

.room-list .event-end {
  display: block;
  position: absolute;
  bottom: 0.5em;
}

.room-list-item .state {
  font-size: 1.2em;
}

.room-list-item .status {
  z-index: 2;
  width: 30%;
  background: #00822D;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  height: 3em;
  border-left: 2px solid #000;
}

.room-list-item .status-busy {
  z-index: 2;
  width: 30%;
  background: #B10E1E;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  height: 3em;
  border-left: 2px solid #000;
}

.upcoming-meetings {
  padding: 1em;
}

.upcoming-meetings h2 {
  font-size: 1.5em;
}

.upcoming-meetings li {
  background: #2A2A2A;
  display: block;
  height: 4em;
  margin-top: 0.5em;
}

.upcoming-meetings .meeting-time {
  display: inline-block;
  height: 3em;
  float: left;
  background: #B10E1E;
  border-right: 2px solid #000;
  padding: 0.5em;
}

.upcoming-meetings .meeting-time .start {
  display: block;
  font-size: 1.5em;
  padding-bottom: 0.2em;
  width: 5em;
}

.upcoming-meetings .meeting-detail {
  display: block;
  float: left;
  padding: 0.5em;
}

.upcoming-meetings .meeting-detail h3 {
  font-size: 1.5em;
  padding-bottom: 0.2em;
}

.current-meeting {
  height: 30%;
  margin: 1em;
  border-left: 1em solid #00822D;
  padding: 0.5em 2em;
}

.current-meeting h2 {
  font-size: 5em;
}

.current-meeting p {
  font-size: 2em;
}

.current-meeting.busy {
  border-left: 1em solid #B10E1E;
}

@media (min-width: 1280px) {
  html {
    font-size: 27px;
  }
}